body{
  margin: 0;
}
main{
  min-height: 35rem;
  justify-content: center;
  display: flex;
  width: 100%;
}
.blog-detail-page-layout{
  margin: 10px 20px;
}
.detail-container{
  margin: 10px 20px;
}


